@page {
  size: letter portrait;
  margin: 0px;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
a.webpage {
  text-decoration: underline;
}
table th {
  word-break: keep-all !important;
  word-wrap: none;
  white-space: nowrap;
}
.tech-table-fence {
  flex: 0 0 calc(0.81041667in);
  padding-top: calc(7.5pt) !important;
  padding-right: calc(0.2in);
  font-size: 6pt;
  text-align: right;
  line-height: 1;
  border-right: 1px solid #ccc;
}
.tech-table-fence .details::before {
  position: relative;
  top: 1pt;
  right: 5.5pt;
  display: block;
  height: 10pt;
  content: '|';
}
/* XXX: using px for very good precision control */
body {
  width: 8.5in;
  height: 11in;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  color: #444;
  hyphens: auto;
}
h1,
h2,
h3 {
  margin: 0;
  color: #000;
}
li {
  list-style-type: none;
}
#main {
  float: left;
  width: 6.4in;
  padding: 0.25in 0.25in 0 0.25in;
  font-size: 7pt;
}
#sidebar {
  float: right;
  position: relative;
  /* for disclaimer */
  width: calc(2.1in);
  height: 100%;
  padding: 0.6in 0.2in;
  background-color: #f2f2f2 !important;
  font-size: 8.5pt;
}
@media print {
  #sidebar {
    border-left: #f2f2f2 1px solid !important;
  }
}
/* main */
/** big title **/
#title,
h1,
h2 {
  text-transform: uppercase;
}
#title {
  position: relative;
  left: 0.55in;
  margin-bottom: 0.3in;
  margin-left: 0.45in;
  line-height: 1.2;
}
#title h1 {
  font-weight: 300;
  font-size: 18pt;
  line-height: 1.5;
}
#title h1 strong {
  margin: auto 2pt auto 4pt;
  font-weight: 600;
}
.subtitle {
  font-size: 8pt;
}
/*** categorial blocks ***/
.main-block {
  margin-top: 0.1in;
}
#main h2 {
  position: relative;
  top: 5pt;
  /* XXX: 0.5px for aligning fx printing */
  left: calc(1in);
  font-weight: 400;
  font-size: 11pt;
  color: #555;
}
#main h2 > i {
  /* use absolute position to prevent icon's width from misaligning title */
  /* assigning a fixed width here is no better due to needing to align decorator
     line too */
  position: absolute;
  left: -19pt;
  z-index: 1;
  /* over decorator line */
  color: #444;
}
#main h2::after {
  /* extends the decorator line */
  height: calc(10pt);
  position: relative;
  top: calc(-5pt);
  /* XXX: 0.5px for aligning fx printing */
  left: calc(-0.2in);
  display: block;
  border-left: 1px solid #ccc;
  z-index: 0;
  line-height: 0;
  font-size: 0;
  content: ' ';
}
/**** minor tweaks on the icon fonts ****/
#main h2 > .fa-graduation-cap {
  left: calc(-21pt);
  top: 2pt;
}
#main h2 > .fa-suitcase {
  top: 1pt;
}
#main h2 > .fa-folder-open {
  top: 1.5pt;
}
/**** individual row blocks (date - decorator - details) ****/
.blocks {
  display: flex;
  flex-flow: row nowrap;
}
.blocks > div {
  padding-top: 5pt;
}
.date {
  flex: 0 0 0.8in;
  padding-top: calc(7.5pt) !important;
  padding-right: 0.2in;
  font-size: 6pt;
  text-align: right;
  line-height: 1;
}
.date span {
  display: block;
}
.date span:nth-child(2)::before {
  position: relative;
  top: 1pt;
  right: 5.5pt;
  display: block;
  height: 10pt;
  content: '|';
}
.decorator {
  flex: 0 0 0;
  position: relative;
  width: 2pt;
  min-height: 100%;
  border-left: 1px solid #ccc;
}
.decorator::after {
  position: absolute;
  top: calc(9px);
  left: calc(-4.3px);
  font-family: "Font Awesome 5 Pro";
  content: '\f111';
  color: #555;
  font-size: 5.5pt;
  display: block;
}
.blocks:last-child .decorator {
  /* slightly shortens it */
  margin-bottom: 0.09in;
}
/***** fine-tunes on the details block where the real juice is *****/
.details {
  flex: 1 0 0;
  padding-left: 0.2in;
  padding-top: calc(4.5pt) !important;
  /* not sure why but this is needed for better alignment */
}
.details header {
  color: #000;
}
.details h3 {
  font-size: 9pt;
}
.main-block:not(.concise) .details div {
  margin: 0.18in 0 0.1in 0;
}
.main-block:not(.concise) .blocks:last-child .details div {
  margin-bottom: 0;
}
.main-block.concise .details div:not(.concise) {
  /* use padding to work around the fact that margin doesn't affect floated
     neighboring elements */
  padding: 0.05in 0 0.07in 0;
}
.details .place {
  float: left;
  font-size: 7.5pt;
  margin-top: 0.2em;
}
.details .location {
  float: right;
}
.details div {
  clear: both;
}
.details .location::before {
  display: inline-block;
  position: relative;
  right: 3pt;
  top: 0.25pt;
  font-family: "Font Awesome 5 Pro";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  content: '\F041';
}
/***** fine-tunes on the lists... *****/
#main ul {
  padding-left: 0.07in;
  margin: 0.08in 0;
}
#main li {
  margin: 0 0 0.025in 0;
}
/****** customize list symbol style ******/
#main li::before {
  position: relative;
  margin-left: -4.25pt;
  content: '• ';
}
.details .concise ul {
  margin: 0 !important;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}
.details .concise li {
  margin: 0 !important;
}
.details .concise li {
  margin-left: 0 !important;
}
/* sidebar */
#sidebar h1 {
  font-weight: 400;
  font-size: 11pt;
}
.side-block {
  margin-top: 0.5in;
}
#contact ul {
  margin-top: 0.05in;
  padding-left: 0;
  font-family: "Source Code Pro";
  font-weight: 400;
  line-height: 1.75;
}
#contact li > i {
  width: 9pt;
  /* for text alignment */
  text-align: right;
}
#skills {
  line-height: 1.5;
}
#skills ul {
  margin: 0.05in 0 0.15in;
  padding: 0;
}
#disclaimer {
  position: absolute;
  bottom: 0.2in;
  right: 0.2in;
  font-size: 7.5pt;
  font-style: italic;
  line-height: 1.1;
  text-align: right;
  color: #777;
}
#disclaimer code {
  color: #666;
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
}
